body
{
	background-image: url('http://www.pulsarmedia.eu/data/media/10/3I_Qubu_By_Wrecks_1920X1200_2.jpg');
	
	font-family:'Helvetica', Arial;
}

}
#contenido
{
	width:960px;
	margin: 0 auto;
	text-align: center;
}
h1
{
	color: #FFFFFF;
	font-family: 'Audiowide', italic;
	text-align: left;
}
h2
{
	color: #1d1d1d;
}


header hgroup h1 
{
	text-align: center;
	border-bottom: solid;
	padding-bottom: 20px;
	border-width: 1px;
	border-color:#1d1d1d;
	text-shadow:0px 0px 30px rgba(0,0,0,0.5);
}
nav ul li
{
	text-align: center;
	font-weight: bold;
	display:inline-block;
	margin-right:100px;
	color:#1d1d1d;
	cursor: pointer;
	padding:5px;

	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
}
nav ul li:hover
{
	text-align: center;
	background-color: #7BC8A4;
	color:#FFF;
	border-radius: 5px;
}

nav ul li a
{
	text-decoration: none;
}
#textoPr
{
	width: 600px;
	height: 700px;
	background-image: url('http://www.pulsarmedia.eu/data/media/10/Cube%20Room%201600.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	opacity: 0.9;
	color: #FFFFFF;
	;
	margin: 0 auto;
	text-align: left;
	border-radius: 20px;
	padding: 50px;
	box-shadow: 10px 10px 20px rgba(50,0,0,50);
	
}

#miCanvas
{
	position: bottom;
	bottom: -100px;
	left: 0px;
	
}
meter
{
	padding: 2px;
	color: #7BC8A4;
	margin-left: 20px;
	width: 200px;

}
label
{
	display: block;
}
#btnSubmit
{
	border:none;
	background-color: #FFF;
	color: #e44e2d;
	padding:4px;
	margin: 20px;
	cursor: pointer;
	font-family: 'Russo One', sans-serif;
}
#calificacion
{
	width: 150px;
	-webkit-appearance:none;
	background-color: #FFF;
	height: 20px;
	border-radius:5px;
	cursor: pointer;
}
#calificacion::-webkit-slider-thumb
{
	-webkit-appearance:none;
	background-color: #7BC8A4;
	border-radius:10px;
	height: 15px;
	width: 10px;
}
#navigation {

text-align: center;
}

#mensajeB
{
	text-align: left;
	color: #FFFFFF;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 120%

}
#fotoPerfil
{
	margin-left: 50px;
	text-align: center;
}

#nmbreProyecto
{
	text-shadow: 0.2em 0.2em 0.2em #600, -0.3em 0.1em 0.1em #060, 
	0.4em -0.3em 0.1em #006 ;
	text-align: center;
	font-weight: bold
}